@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;600;700&display=swap');
@import 'swiper/swiper.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
    overscroll-behavior: none;
}

@layer base {
    html {
        font-family: 'Roboto', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Montserrat', sans-serif;
    }

    body {
        height: 100vh;
        overflow-y: auto;
        position: relative;
        overscroll-behavior: none;
    }

    div#site-wrapper {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
