@import 'swiper/swiper.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Variable.ttf) format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Light.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: Bold;
}

html,
body {
    overflow-x: hidden;
    overscroll-behavior: none;
}

@layer base {
    html {
        font-family: 'Roboto', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Montserrat', sans-serif;
    }

    body {
        height: 100vh;
        overflow-y: auto;
        position: relative;
        overscroll-behavior: none;
    }

    div#site-wrapper {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
