<div class="mt-32 mb-12 relative sm:container !max-w-5xl mx-auto">
    <label class="text-red-600 mb-4">
        Ein kurzer Einblick in die neue Welt der Automatisierung.
    </label>

    <h1 class="text-xl sm:text-2xl md:text-3xl xl:text-5xl font-medium">
        Was ist Robotic Process Automation?
    </h1>

    <!-- content -->

    <div class="mt-10">
        <h2 class="text-lg md:text-xl xl:text-2xl font-bold text-gray-800 mb-2">
            RPA. Doch was ist das eigentlich?
        </h2>
        <p class="text-base text-gray-700">
            Roboter sind seit Jahrzehnten nicht mehr wegzudenken. Prozessautomatisierungen wurden
            gesucht, um die Effizienz zu steigern und um das Wachstum zu fördern. Diese genialen
            Roboter sollen Prozesse gemäß ihrer Anwendung ganz alleine abwickeln und andere
            Programme wie von Geisterhand bedienen können. Zum Teil kann RPA auch auf
            Screen-Scraping-Tools zurückgeführt werden, die automatisch gezielt benötigten Daten aus
            einem Web-Formular extrahieren.
            <br /><br />
            Unter RPA – Robotic Process Automation – versteht man die automatisierte Bearbeitung von
            strukturierten Geschäftsprozessen durch digitale Software-Roboter. Dies funktioniert so,
            dass diese Technologie ihre Stärken bei eindeutig strukturierten, sich wiederholender
            und regelbasierter Prozesse ausspielt, die von Menschen ausgeführt werden. Die RPA Bots
            arbeiten auf der Ebene der grafischen Benutzeroberfläche GUI und können nahezu jeden
            Prozess ausführen. Hierbei benötigen sie weder Prozessänderungen, noch sind spezielle
            Schnittstellen erforderlich. Bei dieser Prozessautomatisierung übernehmen die Bots die
            Aufgaben und Rollen von Anwendern und integrieren mit anderen Softwaresystemen.
        </p>
    </div>

    <div class="mt-10">
        <h2 class="text-lg md:text-xl xl:text-2xl font-bold text-gray-800 mb-2">
            Was ist der Unterschied zu der traditionellen Prozessautomatisierung?
        </h2>
        <p class="text-base text-gray-700">
            RPA verfolgt im Gegensatz zu der traditionellen Automatisierung einen ganz anderen
            Ansatz. Die Einführung von RPA ist nicht mit teuren Investitionen in neue Plattformen
            verbunden und beeinträchtigt zudem in keinster Weise bestehende Geschäftsprozesse. Ziel
            ist es, die bestehenden Abläufe zu automatisieren, ohne die eigentlichen Prozesse oder
            Systeme zu verändern. Die traditionelle Prozessautomatisierung überarbeitet die
            zugrundeliegenden Prozesse und führt neue Systeme und Anwendungen zu deren
            Automatisierung ein. RPA ist aber durch die Nutzung der künstlichen Intelligenz in der
            Lage, auf sich verändernde Situationen zu reagieren.
        </p>
    </div>

    <div class="mt-10">
        <h2 class="text-lg md:text-xl xl:text-2xl font-bold text-gray-800 mb-2">
            Vorteile, wenn man RPA verwendet
        </h2>
        <p class="text-base text-gray-700">
            Durch den Einsatz von RPA kann man viele Vorteile schaffen. So schnell, automatisch und
            fehlerfrei waren Ihre Geschäftsprozesse noch nie erledigt. Ein wesentlicher Vorteil
            liegt darin, dass man rund um die Uhr arbeitende Softwareroboter einsetzen kann, diese
            sich an die strikte Einhaltung der Vorgaben und Regeln halten müssen, nebenbei eine hohe
            Produktivität aufweisen und aber auch eine effiziente Erledigung der Aufgaben nachweisen
            können.
            <br /><br />
            Ein weiterer Vorteil ist, dass man seine Mitarbeiter von Routinetätigkeiten entlasten
            und gleichzeitig eine Verbesserung der Datensicherheit erzielen kann. Die schnelle
            Implementierung neuer Proezsse und die vielfältigen Einsatzmöglichkeiten der Robotic
            Process Automation senkt Ihre Kosten und verspricht höhere Prozessqualität.
        </p>
    </div>

    <div class="mt-10">
        <h2 class="text-lg md:text-xl xl:text-2xl font-bold text-gray-800 mb-2">
            Wo setzt man RPA ein, wo ist es sinnvoll?
        </h2>
        <p class="text-base text-gray-700">
            Grundsätzlich kann man RPA beinahe fast überall einsetzen. Die Einführung von
            Softwareroboter ist vor allem in Unternehmen, bei denen die Datenerfassung und –
            verwaltung wichtiger Bestandteil des täglichen Geschäfts sind, sinnvoll. Weitere
            beliebte Anwendungsgebiete liegen in der Buchhaltung, dem Personalwesen, im
            Finanzdienstleistungssektor, im Gesundheitswesen und im Handel & E-Commerce.
            <br /><br />
            Ein realistisches Beispiel wäre die Stammdatenpflege, Kontenabstimmung oder
            Rechnungserstellung. Somit können die Ressourcen der Mitarbeiter beispielsweise für die
            Bearbeitung neuer regulatorischer Herausforderungen genutzt werden.
            <br /><br />
            Sie sind keine physisch existenten Maschinen aus der Fertigindustrie.
        </p>
    </div>
</div>

<aconio-cta></aconio-cta>
