<!-- hero section -->
<div class="mt-32 md:mt-0 relative md:min-h-screen flex sm:container max-w-7xl mx-auto">
    <div class="absolute top-1/2 -translate-y-1/2 -right-1/4 opacity-60 w-1/2">
        <img src="../../../assets/logos/2.png" />
    </div>

    <div class="my-auto z-10">
        <h1 class="text-2xl sm:text-3xl md:text-5xl xl:text-6xl lg:w-3/4 !leading-snug">
            Wir automatisieren Ihre Unternehmensprozesse, damit Sie sich auf die wichtigen Dinge
            konzentrieren können.
        </h1>

        <div class="relative flex my-8">
            <a
                href="/contact"
                class="whitespace-nowrap inline-flex items-center justify-center px-5 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-red-600 hover:bg-red-700">
                Jetzt Termin vereinbaren
            </a>

            <a
                href="/rpa"
                class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-5 py-2 border border-transparent rounded-md text-base font-medium text-gray-900 bg-transparent hover:bg-gray-100">
                Mehr über RPA erfahren
            </a>
        </div>
    </div>
</div>

<!-- intro -->
<div class="relative my-16 md:mt-0 md:mb-32 lg:mb-64 sm:container max-w-5xl mx-auto flex">
    <div class="mx-auto md:w-4/5">
        <h1 class="text-xl sm:text-2xl md:text-4xl xl:text-5xl text-center">Unsere Vision</h1>

        <p class="my-8 text-center text-base md:text-lg lg:text-xl xl:text-2xl">
            Unser Ziel ist es den nächsten Schritt der Digitalisierung zu wagen und Unternehmen die
            bereits den Übergang in die digitale Welt erfolgreich überstanden haben nun auf deren
            zukünftigen Weg zu unterstützen. Durch Automatisierung mittels RPA und Entwicklung von
            Middleware die zwischen anderer Business Software agiert, können wir die bereits
            vorhanden Ressourcen eines digitalisierten Unternehmens effizienter nutzen. Wir nennen
            das Digitalisierung 2.0.
        </p>
    </div>
</div>

<!-- rpa -->
<div class="relative my-16 md:my-32 lg:my-64 sm:container max-w-5xl mx-auto">
    <div class="sm:grid sm:grid-cols-2 sm:gap-12">
        <div class="my-4 sm:my-0 w-full">
            <label class="text-red-600"> Was ist RPA? </label>

            <h1 class="text-3xl sm:text-4xl md:text-6xl xl:text-7xl font-medium">
                Robotic<br />
                Process<br />
                Automation
            </h1>

            <p class="my-8 text-base md:text-lg lg:text-xl">
                Mittels Robotic Process Automation entwickeln wir Software die menschliche
                Interaktionen mit digitalen Systemen simulieren kann. Diese Simulationen werden
                <span class="font-medium">Software Roboter</span>
                genannt.
            </p>

            <a
                href="/rpa"
                class="inline-flex items-center whitespace-nowrap py-2 border border-transparent rounded-md text-base text-red-600 bg-transparent hover:text-red-700">
                Mehr über RPA erfahren

                <svg-icon name="arrow-right" class="ml-4" [svgClass]="'w-5 h-5'"></svg-icon>
            </a>
        </div>

        <div class="my-4 sm:my-0 w-full">
            <!-- card -->
            <div class="shadow-md p-4 lg:p-6 xl:p-8 mb-6 rounded-xl bg-white flex">
                <svg-icon name="receipt-tax" [svgClass]="'w-7 h-7'"></svg-icon>

                <div class="ml-4">
                    <label class="font-medium text-base md:text-lg xl:text-xl">Buchhaltung</label>
                    <p class="text-sm md:text-base xl:text-lg">
                        Lassen Sie Honorarnoten automatisch erstellen & vereinfachen Sie Ihren
                        Alltag.
                    </p>
                </div>
            </div>

            <!-- card -->
            <div class="shadow-md p-4 lg:p-6 xl:p-8 mb-6 rounded-xl bg-white flex">
                <svg-icon name="shopping-cart" [svgClass]="'w-7 h-7'"></svg-icon>

                <div class="ml-4">
                    <label class="font-medium text-base md:text-lg xl:text-xl"
                        >Online Bestellungen</label
                    >
                    <p class="text-sm md:text-base xl:text-lg">
                        Verarbeiten Sie automatisch Bestellungen in Ihrem Onlineshop.
                    </p>
                </div>
            </div>

            <!-- card -->
            <div class="shadow-md p-4 lg:p-6 xl:p-8 mb-6 rounded-xl bg-white flex">
                <svg-icon name="users" [svgClass]="'w-7 h-7'"></svg-icon>

                <div class="ml-4">
                    <label class="font-medium text-base md:text-lg xl:text-xl"
                        >Stammdatenverwaltung</label
                    >
                    <p class="text-sm md:text-base xl:text-lg">
                        Bleiben Sie mithilfe RPA immer auf dem Neuesten Stand.
                    </p>
                </div>
            </div>

            <!-- card -->
            <div class="shadow-md p-4 lg:p-6 xl:p-8 mb-6 rounded-xl bg-white flex">
                <svg-icon name="paper-clip" [svgClass]="'w-7 h-7'"></svg-icon>

                <div class="ml-4">
                    <label class="font-medium text-base md:text-lg xl:text-xl"
                        >Automatische Mitteilungen</label
                    >
                    <p class="text-sm md:text-base xl:text-lg">
                        Senden Sie automatisiert Mitteilungen an Ihre Kunden oder Ihr Team.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- vorteile -->
<div class="relative my-16 md:my-32 lg:my-64 sm:container max-w-5xl mx-auto">
    <label class="text-red-600"> Ihre Vorteile </label>

    <h1 class="text-xl sm:text-2xl md:text-4xl xl:text-5xl">Was sind die Vorteile?</h1>

    <div class="relative mt-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16">
        <aconio-info-card
            icon="clock"
            header="Effizienz steigern"
            content="Entlasten Sie Ihre Mitarbeiter von repetitiven Tätigkeiten und fokussieren Sie sich auf das Wesentliche.">
        </aconio-info-card>
        <aconio-info-card
            icon="currency-dollar"
            header="Kosten senken"
            content="Unsere Roboter sind 24/7 einsatzbereit und können Prozesse durchführen."></aconio-info-card>
        <aconio-info-card
            icon="exclamation-circle"
            header="Fehler reduzieren"
            content="Roboter arbeiten konsistent und verlässlich. Mitarbeiter können kritische Schritte zusätzlich validieren.">
        </aconio-info-card>
        <aconio-info-card
            icon="document"
            header="Richtlinien folgen"
            content="Prozesse können durch die konsistente Arbeitsweise der Roboter leichter an Richtlinien angepasst werden.">
        </aconio-info-card>
        <aconio-info-card
            icon="thumb-up"
            header="Zufriedenheit erhöhen"
            content="Überzeugen Sie Ihre Kunden durch schnellere Antwortzeiten und Verarbeitung von Stammdaten.">
        </aconio-info-card>
        <aconio-info-card
            icon="credit-card"
            header="Pay-As-You-Go"
            content="Bezahlen Sie nur für die Zeit die Ihr Prozess auch tatsächlich in Anspruch nimmt.">
        </aconio-info-card>
    </div>
</div>

<div
    class="relative my-16 md:my-32 lg:my-64 rounded-3xl bg-zinc-900 p-12 lg:flex lg:flex-row-reverse lg:gap-16 w-11/12 max-w-5xl sm:container mx-auto items-center">
    <div class="w-full lg:w-2/5 mb-14 lg:mb-0">
        <h2 class="text-white text-4xl">Sparen Sie jetzt monatlich Zeit und Geld.</h2>

        <p class="text-gray-300 text-sm mt-6">
            Mithilfe unserem kostenlosen Ersparnisrechners können Sie im Handumdrehen testen wie
            hoch die mögliche monatliche Ersparnis ist.
        </p>

        <a
            href="/calculator"
            class="mt-8 whitespace-nowrap inline-flex items-center justify-center px-5 py-2 border border-transparent rounded-md text-base text-white bg-red-600 hover:bg-red-700">
            Ersparnisrechner testen
            <svg-icon name="arrow-right" class="ml-4" [svgClass]="'w-5 h-5'"></svg-icon>
        </a>
    </div>

    <div class="w-full lg:w-3/5">
        <h3 class="text-gray-300 font-medium text-xl mb-6">Monatliche Ersparnis bei x Prozessen</h3>
        <aconio-calculator-preview [bars]="previewBarData.monthly"></aconio-calculator-preview>
    </div>
</div>

<aconio-cta></aconio-cta>
