<div class="mt-24 pt-10 sm:pt-16 lg:pt-8 lg:pb-14 overflow-hidden lg:overflow-visible relative">
    <div class="mx-auto max-w-7xl lg:px-8">
        <div class="lg:grid lg:grid-cols-2 lg:gap-24">
            <div
                class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
                <div class="lg:py-24">
                    <h1
                        class="mt-4 text-4xl font-extrabold text-gray-800 sm:mt-5 sm:text-6xl lg:mt-6 xl:text-5xl">
                        <span class="leading-tight">Wir automatisieren,<br>damit Sie</span>
                        <span class="text-red-600 leading-tight"> profitieren.</span>
                    </h1>
                    <p
                        class="mt-3 text-base text-gray-700 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
                        Wir automatisieren Ihre Unternehmensprozesse, damit Sie sich auf die
                        wichtigen Dinge konzentrieren können.
                    </p>
                    <div class="mt-10 sm:mt-12">
                        <div class="relative sm:flex my-8 sm:max-w-xl sm:mx-auto lg:mx-0">
                            <a
                                routerLink="contact"
                                class="whitespace-nowrap inline-flex items-center justify-center px-5 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-red-600 hover:bg-red-700">
                                Jetzt Termin vereinbaren
                            </a>
                            <a
                                routerLink="rpa"
                                class="mt-3 sm:mt-0 sm:ml-8 whitespace-nowrap inline-flex items-center justify-center px-5 py-2 border border-transparent rounded-md text-base font-medium text-gray-900 bg-transparent hover:bg-gray-100 text-gray-700">
                                Mehr über RPA erfahren
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
                <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
                    <img
                        class="w-full lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-auto lg:max-w-none rounded-xl"
                        src="../../../assets/hero.jpg"
                        alt=""/>

                    <div
                        class="w-full z-[-1] lg:absolute lg:inset-y-0 lg:left-20 lg:-top-10 lg:-bottom-10 lg:right-[-10] lg:max-w-none rounded-xl bg-gray-50"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- intro -->
<div class="relative py-32 md:mt-0 sm:container max-w-5xl mx-auto flex">
    <div class="mx-auto md:w-4/5 flex flex-col">
        <label class="text-red-600 mx-auto tracking-wide"> Vision </label>
        <h1 class="text-xl font-bold sm:text-2xl md:text-4xl xl:text-5xl text-center text-gray-800">
            Unsere Mission
        </h1>

        <p class="my-8 text-center text-base md:text-lg lg:text-xl xl:text-2xl text-gray-700">
            Unser Ziel ist es den nächsten Schritt der Digitalisierung zu wagen und Unternehmen die
            bereits den Übergang in die digitale Welt erfolgreich überstanden haben nun auf deren
            zukünftigen Weg zu unterstützen.
            <br/><br/>
            Durch Automatisierung mittels RPA und Entwicklung von Middleware die zwischen anderer
            Business Software agiert, können wir die bereits vorhanden Ressourcen eines
            digitalisierten Unternehmens effizienter nutzen.
            <br/><br/>
            Wir nennen das Digitalisierung 2.0.
        </p>
    </div>
</div>

<!-- services -->
<div class="relative py-32 sm:container max-w-5xl mx-auto">
    <label class="text-red-600 mx-auto tracking-wide z-10"> Warum Aconio? </label>

    <img
        class="z-[-1] hidden lg:block opacity-30 lg:absolute lg:inset-y-0 lg:-left-[25%] lg:-top-[15%] lg:h-screen lg:w-auto lg:max-w-none"
        src="../../../assets/logos/2.png"/>

    <div class="lg:flex gap-32 z-10">
        <div class="w-full lg:w-1/3">
            <h1 class="text-xl sm:text-2xl md:text-4xl xl:text-5xl font-bold text-gray-800">
                Unsere Services
            </h1>

            <p class="text-gray-700 mt-4">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam.
            </p>
        </div>

        <div class="mt-16 w-full lg:mt-0 lg:flex-1 flex gap-16">
            <div class="flex flex-col gap-6">
                <div class="p-3 rounded-md bg-red-600 mr-auto text-white">
                    <svg-icon name="fa-chess-king" [svgClass]="'w-7 h-7'"></svg-icon>
                </div>

                <h3 class="text-gray-800 font-bold text-xl lg:text-2xl">Automatisierung</h3>

                <p class="text-gray-700 text-base">
                    Mittels RPA (Robotic Process Automation) optimieren wir alltägliche Prozesse und Tätigkeiten. Somit
                    können Sie wertvolle Zeit sparen und diese in profitablere und anspruchsvollere Aufgaben
                    investieren.
                </p>
            </div>

            <div class="flex flex-col gap-6">
                <div class="p-3 rounded-md bg-red-600 mr-auto text-white">
                    <svg-icon name="fa-chip" [svgClass]="'w-7 h-7'"></svg-icon>
                </div>

                <h3 class="text-gray-800 font-bold text-xl lg:text-2xl">Middleware</h3>

                <p class="text-gray-700 text-base">
                    Design und Entwicklung von Schnittstellen zwischen Business-relevanten Systemen zur Reduzierung von
                    Organisations- und Koordinationsaufwand in enger Abstimmung mit dem Kunden.
                </p>
            </div>

            <div class="flex flex-col gap-6">
                <div class="p-3 rounded-md bg-red-600 mr-auto text-white">
                    <svg-icon name="fa-bullseye" [svgClass]="'w-7 h-7'"></svg-icon>
                </div>

                <h3 class="text-gray-800 font-bold text-xl lg:text-2xl">Consulting</h3>

                <p class="text-gray-700 text-base">
                    Unterstützung unserer Partner bei sämtlichen Entscheidungen im IT-Bereich. Von Automation über
                    Cloud-Adoption, bis hin zu DevOps-Themen, wir helfen mit unserer langjährigen Erfahrung und
                    Expertise!
                </p>
            </div>
        </div>
    </div>
</div>

<!-- rpa -->
<div class="relative py-32 sm:container max-w-5xl mx-auto">
    <div class="lg:grid lg:grid-cols-2 lg:gap-12 p-16 bg-gray-100 rounded-2xl">
        <div class="my-4 sm:my-0 w-full">
            <label class="text-red-600"> Was ist RPA? </label>

            <h1 class="text-3xl sm:text-4xl md:text-6xl font-bold text-gray-800">
                Robotic<br/>
                Process<br/>
                Automation
            </h1>

            <p class="my-8 text-base md:text-lg lg:text-xl text-gray-700">
                Mittels Robotic Process Automation entwickeln wir Software die menschliche
                Interaktionen mit digitalen Systemen simulieren kann. Diese Simulationen werden
                <span class="font-medium">Software Roboter</span>
                genannt.
            </p>

            <a
                routerLink="rpa"
                class="inline-flex items-center whitespace-nowrap py-2 border border-transparent rounded-md text-base text-red-600 bg-transparent hover:text-red-700">
                Mehr über RPA erfahren

                <svg-icon name="arrow-right" class="ml-4" [svgClass]="'w-5 h-5'"></svg-icon>
            </a>
        </div>

        <div class="my-4 sm:my-0 w-full grid grid-flow-row-dense grid-cols-2 grid-rows-2">
            <!-- card -->
            <div class="p-4 lg:p-7 flex flex-col gap-6">
                <div class="bg-red-600 rounded-md p-2 flex mr-auto text-white">
                    <svg-icon name="receipt-tax" [svgClass]="'w-8 h-8'"></svg-icon>
                </div>

                <div class="">
                    <label class="font-medium text-base md:text-lg text-gray-800"
                    >Buchhaltung</label
                    >
                    <p class="text-sm md:text-base text-gray-700">
                        Lassen Sie Honorarnoten automatisch erstellen & vereinfachen Sie Ihren
                        Alltag.
                    </p>
                </div>
            </div>

            <!-- card -->
            <div class="p-4 lg:p-7 flex flex-col gap-6">
                <div class="bg-red-600 rounded-md p-2 flex mr-auto text-white">
                    <svg-icon name="shopping-cart" [svgClass]="'w-8 h-8'"></svg-icon>
                </div>
                <div class="">
                    <label class="font-medium text-base md:text-lg text-gray-800"
                    >Online Bestellungen</label
                    >
                    <p class="text-sm md:text-base text-gray-700">
                        Verarbeiten Sie automatisch Bestellungen in Ihrem Onlineshop.
                    </p>
                </div>
            </div>

            <!-- card -->
            <div class="p-4 lg:p-7 flex flex-col gap-6">
                <div class="bg-red-600 rounded-md p-2 flex mr-auto text-white">
                    <svg-icon name="users" [svgClass]="'w-8 h-8'"></svg-icon>
                </div>
                <div class="">
                    <label class="font-medium text-base md:text-lg text-gray-800"
                    >Stammdatenverwaltung</label
                    >
                    <p class="text-sm md:text-base text-gray-700">
                        Bleiben Sie mithilfe RPA immer auf dem Neuesten Stand.
                    </p>
                </div>
            </div>

            <!-- card -->
            <div class="p-4 lg:p-7 flex flex-col gap-6">
                <div class="bg-red-600 rounded-md p-2 flex mr-auto text-white">
                    <svg-icon name="paper-clip" [svgClass]="'w-8 h-8'"></svg-icon>
                </div>
                <div class="">
                    <label class="font-medium text-base md:text-lg text-gray-800"
                    >Automatische Mitteilungen</label
                    >
                    <p class="text-sm md:text-base text-gray-700">
                        Senden Sie automatisiert Mitteilungen an Ihre Kunden oder Ihr Team.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- vorteile -->
<div class="relative py-32 sm:container max-w-5xl mx-auto">
    <label class="text-red-600 tracking-wide"> Ihre Vorteile </label>

    <h1 class="text-xl sm:text-2xl md:text-4xl xl:text-5xl font-bold text-gray-800">
        Was sind die Vorteile?
    </h1>

    <div class="relative mt-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16">
        <aconio-info-card
            icon="clock"
            header="Effizienz steigern"
            content="Entlasten Sie Ihre Mitarbeiter von repetitiven Tätigkeiten und fokussieren Sie sich auf das Wesentliche.">
        </aconio-info-card>
        <aconio-info-card
            icon="currency-dollar"
            header="Kosten senken"
            content="Unsere Roboter sind 24/7 einsatzbereit und können Prozesse durchführen."></aconio-info-card>
        <aconio-info-card
            icon="exclamation-circle"
            header="Fehler reduzieren"
            content="Roboter arbeiten konsistent und verlässlich. Mitarbeiter können kritische Schritte zusätzlich validieren.">
        </aconio-info-card>
        <aconio-info-card
            icon="document"
            header="Richtlinien folgen"
            content="Prozesse können durch die konsistente Arbeitsweise der Roboter leichter an Richtlinien angepasst werden.">
        </aconio-info-card>
        <aconio-info-card
            icon="thumb-up"
            header="Zufriedenheit erhöhen"
            content="Überzeugen Sie Ihre Kunden durch schnellere Antwortzeiten und Verarbeitung von Stammdaten.">
        </aconio-info-card>
        <aconio-info-card
            icon="credit-card"
            header="Pay-As-You-Go"
            content="Bezahlen Sie nur für die Zeit die Ihr Prozess auch tatsächlich in Anspruch nimmt.">
        </aconio-info-card>
    </div>
</div>

<div class="relative py-32 w-11/12 max-w-5xl sm:container mx-auto">
    <div
        class="rounded-3xl bg-zinc-900 p-12 lg:flex lg:flex-row-reverse lg:gap-16 items-center">
        <div class="w-full lg:w-2/5 mb-14 lg:mb-0">
            <h2 class="text-white text-4xl">Sparen Sie jetzt monatlich Zeit und Geld.</h2>

            <p class="text-gray-300 text-sm mt-6">
                Mithilfe unserem kostenlosen Ersparnisrechners können Sie im Handumdrehen testen wie
                hoch die mögliche monatliche Ersparnis ist.
            </p>

            <a
                routerLink="/calculator"
                class="mt-8 whitespace-nowrap inline-flex items-center justify-center px-5 py-2 border border-transparent rounded-md text-base text-white bg-red-600 hover:bg-red-700">
                Ersparnisrechner testen
                <svg-icon name="arrow-right" class="ml-4" [svgClass]="'w-5 h-5'"></svg-icon>
            </a>
        </div>

        <div class="w-full lg:w-3/5">
            <h3 class="text-gray-300 font-medium text-xl mb-6">Monatliche Ersparnis bei x Prozessen</h3>
            <aconio-calculator-preview [bars]="previewBarData.monthly"></aconio-calculator-preview>
        </div>
    </div>
</div>

<aconio-cta></aconio-cta>
