<div class="relative my-16 md:my-32 flex flex-col !max-w-3xl sm:container mx-auto items-center">
    <h2 class="text-lg md:text-xl lg:text-3xl mx-auto text-center">
        Werden Sie jetzt Teil der Digitalisierung 2.0 und holen Sie das Maximum aus Ihrem
        Unternehmen.
    </h2>

    <a
        href="/contact"
        class="mt-10 whitespace-nowrap inline-flex items-center justify-center px-5 py-2 border border-transparent rounded-md text-base text-white bg-red-600 hover:bg-red-700">
        Jetzt loslegen
        <svg-icon name="arrow-right" class="ml-4" [svgClass]="'w-5 h-5'"></svg-icon>
    </a>
</div>
