<div class="container">
    <div>
        <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-medium">
            Automatisierung<br/><span class="md:ml-12 font-bold">im Finanzsektor</span>
        </h1>
    </div>

    <p class="md:columns-2 text-base lg:text-lg gap-16 mt-16 text-gray-800">
        ACONIO legt einen Schwerpunkt auf Prozesse im Finanz-Bereich. Hier herrscht oft hohes
        Automatisierungs-Potenzial, egal ob bei Abläufen in der Buchhaltung, Lohnverrechnung,
        Administration oder anderen Abteilungen. Durch die steigende Anzahl an digitalen Prozessen
        werden Mitarbeiter mit stetig mehr repetitiven Tätigkeiten in ihrer digitalen Arbeitswelt
        belastet, wodurch die Anwendung der eigentlichen fachlichen Expertise immer weiter in den
        Hintergrund rückt.<br/>
        Wir sind darauf spezialisiert diese Last zu nehmen, indem wir ähnliche, sich wiederholende
        Prozesse mithilfe von RPA in Kombination mit Technologien aus unserem Toolstack
        automatisieren. Unsere Automation Consultants gehen mit Ihnen gemeinsam den Weg der
        Automatisierung und geben Ihren Mitarbeitern die Freiheit, sich auf die wirklich relevanten
        Themen zu fokussieren!
    </p>

    <div class="flex flex-col mt-14 m-auto gap-6">
        <span class="font-medium text-gray-900 m-auto">Wir arbeiten mit</span>

        <div class="flex flex-col md:flex-row gap-10 mx-auto">
            <img src="assets/logos/finance/datev.png" class="h-12 mx-auto"/>
            <img src="assets/logos/finance/bmd.png" class="h-12 mx-auto"/>
            <img src="assets/logos/finance/metis-tax.png" class="h-12 mx-auto"/>
            <img src="assets/logos/finance/dvo.png" class="h-12 mx-auto"/>
        </div>
    </div>
</div>
