<div class="relative my-28 sm:container max-w-5xl mx-auto">
    <h1 class="text-xl sm:text-2xl md:text-4xl xl:text-5xl">Impressum & rechtliche Hinweise</h1>

    <div class="relative mt-24">
        <p>
            <b>Aconio OG</b><br />
            Siccardsburggasse 49/2/2/5<br />
            1100 Wien, Austria<br />
            <br />
            Tel:
            <a href="tel:+43676846221714" class="text-red-600 hover:text-red-700"
                >+43 676 846221714</a
            ><br />
            Email:
            <a href="mailto:consulting@aconio.net" class="text-red-600 hover:text-red-700"
                >consulting@aconio.net</a
            >
        </p>
    </div>

    <div class="relative mt-8">
        <h3 class="text-lg md:text-xl xl:text-2xl">UID Nummer</h3>
        <p>ATU77596219</p>
    </div>

    <div class="relative mt-8">
        <h3 class="text-lg md:text-xl xl:text-2xl">Firmenbuchnummer (FN)</h3>
        <p>FN 567256 a</p>
    </div>

    <div class="relative mt-8">
        <h3 class="text-lg md:text-xl xl:text-2xl">Firmenbuchgericht</h3>
        <p>Handelsgericht Wien</p>
    </div>

    <div class="relative mt-8">
        <p>
            Mitglied der WKO
            <a
                class="text-red-600 hover:text-red-700"
                href="//firmen.wko.at/aconio-og/wien/?firmaid=d3d79408-30df-4a57-bfa3-efda2a9b10a0&suchbegriff=aconio"
                >Fachgruppe IT-Dienstleistung</a
            >
        </p>
    </div>

    <div class="relative mt-8">
        <h3 class="text-lg md:text-xl xl:text-2xl">Tätigkeitsbereich</h3>
        <p>
            Erbringung von Dienstleistungen in der automatischen Datenverarbeitung und
            Informationstechnik
        </p>
    </div>

    <div class="relative mt-8">
        <h3 class="text-lg md:text-xl xl:text-2xl">Haftungsausschluss</h3>
        <p>
            Im Hinblick auf die technischen Eigenschaften des Internet kann keine Gewähr für die
            Authentizität, Richtigkeit und Vollständigkeit der im Internet zur Verfügung gestellten
            Informationen übernommen werden. Es wird auch keine Gewähr für die Verfügbarkeit oder
            den Betrieb der gegenständlichen Homepage und ihrer Inhalte übernommen.
            <br /><br />
            Jede Haftung für unmittelbare, mittelbare oder sonstige Schäden, unabhängig von deren
            Ursachen, die aus der Benutzung oder Nichtverfügbarkeit der Daten und Informationen
            dieser Homepage erwachsen, wird, soweit rechtlich zulässig, ausgeschlossen.
            <br/><br/>
            Der Inhalt dieser Homepage ist urheberrechtlich geschützt. Die Informationen sind nur
            für die persönliche Verwendung bestimmt. Jede weitergehende Nutzung insbesondere die
            Speicherung in Datenbanken, Vervielfältigung und jede Form von gewerblicher Nutzung
            sowie die Weitergabe an Dritte - auch in Teilen oder in überarbeiteter Form - ohne
            Zustimmung der jeweiligen Organisation ist untersagt.
        </p>
    </div>

    <div class="relative mt-8">
        <h3 class="text-lg md:text-xl xl:text-2xl">Webdesign & Webentwicklung</h3>
        <p>
            <a href="//www.wecodeit.dev">WeCodeIt OG</a>
        </p>
    </div>
</div>
