<div class="bg-gray-100 py-32">
    <div class="container flex !mt-0 gap-16 md:gap-24 lg:gap-32 xl:gap-48 flex-col lg:flex-row">
        <div class="w-full lg:w-1/2 xl:w-2/5">
            <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold">Robotic Process Automation</h1>

            <p class="text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-600 mt-4">
                Mittels Robotic Process Automation entwickeln wir Software die menschliche
                Interaktionen mit digitalen Systemen simulieren kann. Diese Simulationen werden
                <b>Software Roboter</b> genannt.
            </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-20 w-full lg:w-1/2 xl:w-3/5">
            <aconio-service-card
                [icon]="service.icon"
                [title]="service.title"
                [description]="service.description"
                *ngFor="let service of advantages"></aconio-service-card>
        </div>
    </div>
</div>
